.container {
    position: relative;margin-bottom: 30px;
}

.errorContainer {
    position: absolute;
    top: 20px;
    left: 0px
}

.totalUsers {
    font-weight: bold;
    margin-left: 10px;
}

.someClass {
    border: 2px solid black;
}

.error {
    border: 1px solid red;
}